@import './editar-promociones-reglas.css';
@import './editar-promociones-acuerdos.css';
@import './editar-promociones-horarios.css';
@import './editar-promociones-limites.css';

.contenido .botones-top  {
  gap: 1rem;
  flex-wrap: wrap;
}

.editar-promociones .form-ficha {
  max-width: 50rem;
}

.editar-promociones .card-info {
  background: white;
}



/* --------EDITAR PROMOCIONES HORARIOS------- */

.caja-botones-dias {
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-wrap: wrap;
}

.caja-boton-dia {
  width: 150px;
  min-width: 100px;
}

.boton-dia {
  border-radius: 10px;
  padding-inline-end: 30px;
  padding-inline-start: 30px;
  height: 35px;
  padding: .375rem .75rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--secondary-20);
  border-color: var(--primary-30);
  width: 100%;
}

.boton-dia:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.1);
}

@media (max-width: 400px) {
  .caja-boton-dia {
    width: 10%;
    font-size: 13px;
    min-width: 46%;
  }

  .boton-dia {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
  }
}

/* --------EDITAR PROMOCIONES LIMITES------- */

.editar-promociones-limites .form-row label {
  width: 500px;
  padding-top: 5px;
}

.editar-promociones-limites .form-row .label {
  width: 600px;
  padding-top: 5px;
  margin-left: 10px;
}

@media (max-width: 860px) {

  .editar-promociones-limites .form-row label {
    width: auto;
    padding-top: 5px;
  }

  .editar-promociones-limites .form-row .label {
    width: auto;
    padding-top: 5px;
    margin-left: 10px;
  }

}

/* --------EDITAR PROMOCIONES REGLAS------- */

.editar-promociones-reglas .tarjetas a {
  text-decoration: none;
}

.editar-promociones-reglas .tarjetas a .card-info:hover {
  text-decoration: none;
  background-color: #F7F7F7;
}

.editar-promociones-reglas .btn-locales {
  background: var(--primary-20);
  padding: .5rem 1rem;
  color: white;
  border-radius: 10px;
}

.editar-promociones-reglas .btn-ecommerce {
  background: var(--primary-10);
  padding: .5rem 1rem;
  color: var(--primary-30);
  border-radius: 10px;
}

/* --------EDITAR PROMOCIONES REGLAS DESCUENTO CONDICIONAL------- */

.editar-promociones-reglas .btn-amarillo {
  background: #FFAF00;
  padding: .5rem 1rem;
  color: black;
  border-radius: 10px;
}

.editar-promociones-reglas .btn-amarillo:hover {
  text-decoration: none;
}

.editar-promociones-reglas .btn-verde {
  background: #06AF4A;
  padding: .5rem 1rem;
  color: white;
  border-radius: 10px;
}

.editar-promociones-reglas .btn-verde:hover {
  text-decoration: none;
}

.editar-promociones-reglas .btn-gris {
  background: #4B4F54;
  padding: .5rem 1rem;
  color: white;
  border-radius: 10px;
}

.editar-promociones-reglas .btn-gris:hover {
  text-decoration: none;
}

.editar-promociones-reglas .boton-red {
  width: 20rem;
}

@media (max-width: 860px) {

  .editar-promociones-reglas .boton-red {
    width: 100%;
    font-size: 10px;
  }
}